<div class="home">


    <img src="/images/beer.png" class="image-beer">

    <a class="buttons" href="/beers">Check the Beers!</a>
    <a class="buttons" href="/random-beer">Check a random Beer!</a>
</div>
    
