/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
body{
   background-color: #f7f9f9;; 
}
.tagline{
   color: #bfbfbf; 
}
nav{
    background-color: #2081c3;
    box-shadow: 1px 1px rgba(red, green, blue, 0.2);
    padding: 2rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1rem ;

}
nav ul li a{
    color: white;
    font-size: large;
    font-weight: bold;
}
.beers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem auto; 
    width: 80%;
    gap: 4rem;
}

.beer{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 300px;
    gap: 1rem;

    
}
.beer h1{
    font-size: 1.2rem;
}
.beer div{
    text-align: left;
}
.beer img, .beer-random img {
    width: 100%;
    margin: 0 auto;
}
.beer-random{
    display: flex;
    justify-content: center;

    width: 600px;
    gap: 3rem;
    text-align: left;

}
.beer-random ul{
text-align: left;
}
.main{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.image-beer {
    width: 30%;
}

footer{
    background-color: #0a2c42;
    box-shadow: 1px 1px rgba(red, green, blue, 0.2);
    padding: 2rem;
    text-align: left;
    color: aliceblue;
    font-weight: bold;
}

.buttons{
    background-color: #2081c3;
    box-shadow: 1px 1px rgba(red, green, blue, 0.2);
    padding: 2rem;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    border-radius:0.6rem;
}

.home{
    margin: 4rem;
}

.beer-link{
    background-color: #2081c3;
    box-shadow: 1px 1px rgba(red, green, blue, 0.2);
    padding: 0.3rem;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}